{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="map p-2" style="margin-top:6%;border:3px solid lightgray">
		<iframe src="https://www.google.com/maps/dir/Barola+Sec+49,+Shiv+Mandir+Road,+Baraula,+Sector+49,+Noida,+Uttar+Pradesh/Sector+49,+Noida,+Uttar+Pradesh/@28.5651062,77.368496,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x390ce5c7ca2eea5f:0xde93e6a6adf9e1cd!2m2!1d77.3688022!2d28.5665525!1m5!1m1!1s0x390ce5f25ac323b5:0xd496afa2bb8dd672!2m2!1d77.3725608!2d28.5636272" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
	allowfullscreen></iframe>

</div>
	<div class="contact-w3l py-5" id="contact">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-sm-5 mb-4">
				<h6 class="w3ls-title-sub"></h6>
				<h3 class="w3ls-title text-uppercase text-bl font-weight-bold">Contact Us</h3>
			</div>
			<div class="row pt-md-0">
				<div class="col-lg-6 contact-agileits-w3layouts">
					<h4 class="contact-title text-uppercase text-bl mb-sm-4 mb-3">Our Address</h4>
					<h5 class="font-weight-light text-bl">If you have any questions about the services we provide simply use the
						form below. We try and respond to all queries
						and comments within 24 hours.</h5>
					<div class="midd-contact my-xl-5 my-4 pl-4 border-left">
						<h6 class="text-bl mb-2">Address & Direction:</h6>
						<p>Noida Sector - 49 Barola Uttar Pradesh</p>
					</div>
					<p class="para-agileits-w3layouts">
						<i class="fa fa-map-marker pr-3"></i>243122 Paras Saxena </p>
					<p class="para-agileits-w3layouts my-sm-3 my-2">
						<i class="fa fa-phone pr-3"></i>9368326591</p>
					<p class="para-agileits-w3layouts">
						<i class="fa fa-envelope-open pr-2"></i>
						<a href="mailto:mail@example.com">info 1@example.com</a>
					</p>
				</div>
				<div class="col-lg-6 regstr-r-w3-agileits mt-lg-0 mt-5">
					<h4 class="contact-title text-uppercase text-bl mb-sm-4 mb-3">Get in Touch</h4>
					<div class="form-bg-w3ls">
						<form action="#" method="post">
							<div class="form-group">
								<input type="text" name="Name" class="form-control" placeholder="Name" required="">
							</div>
							<div class="form-group">
								<input type="email" name="Email" class="form-control" placeholder="Email" required="">
							</div>
							<div class="form-group">
								<input type="text" name="Subject" class="form-control" placeholder="Subject" required="">
							</div>
							<div class="form-group">
								<textarea name="Message" class="form-control" placeholder="Message" required=""></textarea>
							</div>
							<button type="submit" class="button-w3layouts btn text-uppercase">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //contact -->
	<!-- map -->

	<!-- //map -->

{% endblock %}


	<!-- page details -->
